<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://paymentfunction20220920215114.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7c7311bb-8d80-4129-9e82-27083098f67e/resourceGroups/Learning/providers/Microsoft.Web/sites/PaymentFunction20220920215114</ResourceId>
    <UserName>$PaymentFunction20220920215114</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://paymentfunction20220920215114.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>