.topnav {
    overflow: hidden;
    background-color: rgb(84, 100, 218);
  }
  
  .topnav a {
    float: left;
    color: #04041b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: nones;
    
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(148, 163, 247);
    color:rgba(241, 226, 226, 0);
  }
  
  .topnav a.active {
    background-color: #adaef5;
    color: white;
  }

  .toolbar {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("https://cdn1.vectorstock.com/i/1000x1000/49/50/digital-book-logo-technology-icon-design-vector-35574950.jpg");
    background-size: cover;
    height: 700px;
    width: 100%;
}
.navheader{
  text-align: center;
}